<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="outer" ng-app="uw-wsu-recruits">

      <%= t.include("partials/_ad.html", { type: "banner" }) %>

      <nav class="top-bar">
       <a class="logo" href="http://seattletimes.com">
         <img src="./assets/seattletimes.svg">
       </a>
     </nav>

     <div class="logo-header">

       <img src="./assets/recruitingtracker_header2019.png">

     </div>

     <div class="intro">

       <!-- <h1>2019 RECRUIT TRACKER</h1> -->

       <p class="welcome">Stay up-to-date with the incoming athletes who have committed to play football at the University of Washington and Washington State University. Players in the Class of 2019 are first eligible to sign their letters of intent in this year's early signing period, which runs from Dec. 19-21. National Signing Day, which kicks off the traditional signing period, is Feb. 6, 2019.</p>

       <p class="updated">Last updated: April 8, 2018</p>

       <div class="credits">

         Reporting by <span class="credit-name">Adam Jude</span> and <span class="credit-name">Stefanie Loh</span><br/>
         Production by <span class="credit-name">Evan Webeck</span> Development by <span class="credit-name">Thomas Wilburn</span><br/>
         Ratings courtesy of <span class="credit-name">247Sports Composite</span>

       </div>



    </div>

      <div class="flex-container">
        <%= t.include("./_uwtable.html") %>
        <%= t.include("./_wsutable.html") %>
      </div>

    </div>

    <footer>
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
      <a class="share-bottom"></a>
    </footer>

    <script>
      var cougarsData = <%= JSON.stringify(json.RecruitTracker2019_WSU) %>;
      var huskiesData = <%= JSON.stringify(json.RecruitTracker2019_UW) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
